body {
	background: #000000;
}


.gifDiv {
	display: inline;
	float: left;
	margin: auto;
}

#gifDisplay {
	background: white;
	display: none;
	width: 90%;
	border-style: inset;
	border-color: lightgrey;
	border-width: 2px;
	margin: auto;
}

#buttonDisplay, #searchForm {
	text-align: center;
	margin: auto;
}

h1 {
	text-align: center;
}

.gifImage {
	margin: 3px;
}